
* {
    box-sizing: border-box;
    /* makes padding and borders part of the total width/height */
    margin: 0;
    padding: 0;
}

/* changes to the links style */
a { 
    color: black;
    text-decoration: none;
    /* removes the underline */
    font-weight: 500;
    transition: color 0.3s;
    /* makes a smooth color change on hover */
}
a:hover {
    color:#694908; /* burnt orange when hovered over */
    text-decoration: underline; /*so the user can see what they are hovering over */
}


/* this will push the body down so the header doesn't cover it */
body {
    font-family: 'Poppins', 'Inter', Arial, sans-serif;
    line-height: 1.6;
    color: #2b2b2b;
    background-color: #fdfaf5;
     /* light ivory-ish background */
     padding-top: 165px;

}
h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Poppins', serif; /*simple font for readability and styl*/
    color: #8a4b2f; /* dark burnt orange */
    font-weight:00;
}

header {
    background-color: #b5542c; /*burnt organe */
    padding: 20px 30px;
    padding-top: 30px;
    text-align: center;
    position: fixed;
    /* makes it stay at the top when you scroll */

    top: 0;
    left: 0;
    width: 100%; /* stretch across the screen */
    z-index: 1000; /* makes sure it stays on top of other content */


}
header h1 {
    color: #fff; /* off white/cream*/
    font-size: 32px;
    margin-bottom: 9px;
    font-family: 'Poppins', serif; /*simple font for readability and styl*/
    font-weight:500;
    /*letter spacing: 1px;*/
}

h1 p {
    color: #694908; /* light gold color */
    font-size: 18px;
    font-weight: 200;
}
#subtitle {
    font-family: 'Poppins',serif;
    font-size: 18px;
    color: #694908;
    font-weight: 200;
    text-align: center;
    margin-top: 4px;
}

/*navigation bar setup */
nav ul {
    list-style: none;   
    /* removes bullet points in lists */
    display: flex;      
    /* makes theitems go side by side */
    justify-content: center;
     /* centers it across the header */
    gap: 30px;
    /* space between items */
    margin-top: 12px;
}

/* nav li {

} */

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 19px;

    transition: color 0.4s;
    /* smooth color change on hover */

}

nav a:hover {
    color: #f7d79e; /*Gold color when hovered over*/

}

/* this will push the body down so the header doesn't cover it */
/*body {
    padding-top: 70px;
}    */

/*css grid for the home page*/
main {
    display: grid;
    /*makes it a grid*/
    grid-template-columns: 2fr 1fr;
    /* 2 columns, abstract column should be wider */
    max-width: 1200px;
    margin: 40px auto;
    gap: 24px;
    padding: 18px

}
main section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #8a4b2f;
    font-family: 'Poppins', sans-serif; 
    font-weight: 200;
}
main section li {
    font-size: 16px;
    margin-top: 6px;
    margin-left: 20px;
    color: #2b2b2b; 
    font-weight: 200;
}
main section.key-concepts-1 {
    grid-column: 1 / span 2; 
    /* makes it span across both columns */
    grid-row: 3; 
    /* third row */
}
section {
    background: #fff;
    padding: 18px;
    /*border-left: 5px solid #0b3d2e;
    gives an accent on the left of each sectionbox*/
    border-radius: 9px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* box-shadow gives a slight shadow effect*/

}
section h2 {
    color: #8a4b2f;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
    padding-top:20px
}
section h3{
    color: #8a4b2f;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    font-style:  500;
    padding-top:20px
}
/* Change color of the radio */
input[type="radio"] {
  accent-color: #8a4b2f; 
}

/*formatting for the abstract and table of contents to be side by side*/

.abstract {
    grid-column: 1; 
    /* makes a left column */
    grid-row: 1; 
    /* first row */
}

.tableofcontent {
    list-style-type: none;
    grid-column: 2;
     /* makes a right column */
    grid-row: 1; 
    /* first row (the same as the one for .abstract) */    
}

.keyterms {
    list-style-type: none;
    grid-column: 1 / span 2;
     /* makes a right column*/
    grid-row: 2; 
    /* puts it below the table of contents */
}

/*styling for the about page*/
.about-container {
    display : flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px; /* or 40px 10% */
    gap: 25px;
}
.about-intro {
    flex: 1;
    /* it will takes up half the space */
    
}
.about-team {
    flex: 1;

}
.about-team .member {
    margin-bottom: 20px;
    background: #fffdf9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* box-shadow gives a  shadow effect*/
}
.about-team img{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    /* makes it a circle */
    object-fit: cover;
    /* makes sure the image covers the area */
    margin-bottom: 8px;
    
}
.side-caption {
  display: flex;
  align-items: center;
  gap: 20px; 
  margin: 20px 0;
}

.side-caption img {
  max-width: 100%;
  height: auto;
}

.side-caption figcaption {
  font-size: 14px;
  font-style: italic;
  color: black;
}

.side-captionleft {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  margin: 0px;
}
.side-captionleft img {
  max-width: 100%;
  height: auto;
}

.side-captionleft figcaption {
  font-size: 14px;
  font-style: italic;
  color: black;
}

.image-grow img {
  transition: transform 0.3s ease;
}

.image-grow img:hover {
  transform: scale(1.1);  /* Slightly enlarges the image when hovered */
}
